body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Hide scrollbar for Webkit and Blink browsers */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: none;
}

/* For the scrollContainer specifically, if you prefer targeting it directly */
.scrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollContainer {
    scrollbar-width: none;
}

.scrollContainer {
    height: 100vh; /* Full viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
    scroll-snap-type: y mandatory; /* Apply vertical scroll snapping */
}

.containerParent {
    height: 100vh; /* Full viewport height for each section */
    scroll-snap-align: start; /* Align the start edge of the element with the scroll container's start edge */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; /* Ensure full width */
}