body {
    margin: 0;
    padding: 0;
    background-color: rgb(28, 28, 28);
}


.containerParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: rgb(26, 0, 154);
    border-radius: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 150px;
    height: auto;
    margin: 20px;
}